doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/assets/web/cursor.png')
    script(src="/socket.io/socket.io.js")
    script(src="/maps.js")
    script(src="/map.collider.js")
    script(src="/javascripts/asset_manager.js")
    script(src="/javascripts/audio_module.js")
    script(src="/javascripts/network_module.js")
    script(src="/javascripts/input_module.js")
    script(src="/javascripts/game_engine.js")
    script(src="/javascripts/client.js")
    script(src="/javascripts/anim_module.js")
    script(src="/javascripts/ui.js")
  body
    block content