doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/assets/web/cursor.png')
    script(src="/maps.js")
    script(src="/javascripts/mapCreator/mapCreator.js")
    script(src="/javascripts/mapCreator/ui.js")
  body
    block content